body {
    background-image: url('/images/Savon-mon-compte.jpg');
    background-size: contain;
    background-position: center 280px;
    background-repeat: no-repeat;
    margin: -10px;
}


.container {
    margin-bottom: 80px;
    /* margin-bottom:60px*/
}

.text {
    color: lightskyblue;
}

.footer {
    height: 125px;
}
