<link rel="stylesheet" href="~/css/home.css">
@* <script src="~/js/carousel.js"></script> *@
<!-- En-tête -->
<div>
    <h1 class="fs-2">Bienvenue chez "Savon de Lilly"</h1>
    <p class="slogan">Votre destination incontournable pour des savons artisanaux faits maison.</p>
</div>
<!-- Carrousel Bootstrap sans boutons de navigation -->
<div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/img_carrousel_1.jpg" class="d-block w-100" alt="Image 1">
        </div>
        <div class="carousel-item">
            <img src="/images/img_carrousel_2.jpg" class="d-block w-100" alt="Image 2">
        </div>
        <div class="carousel-item">
            <img src="/images/img_carrousel_3.jpg" class="d-block w-100" alt="Image 3">
        </div>
    </div>
</div>
<!-- Séparateur élégant -->
<div style="text-align: center; margin-bottom: 10px; width: 100%;">
    <hr style="border-top: 2px solid #333; margin: 10px auto; width: 30%;">
    <h2 class="fs-3">Explorez Mes Offres</h2>
    <hr style="border-top: 2px solid #333; margin: 10px 10px; width: 30%;">
</div>
<!-- Pourquoi Choisir -->
<section>
    <h2 class="fw-bold">Pourquoi Choisir Mes Savons ?</h2>
    <ul class="fs-5">
        <li><strong>Ingrédients Naturels :</strong> Fabriqués avec des huiles essentielles de qualité.</li>
        <li><strong>Écologique :</strong> Emballages minimalistes et recyclables.</li>
        <li><strong>Artisanal :</strong> Chaque savon est fait à la main avec passion.</li>
    </ul>
</section>
<!-- Produits -->
<section>
    <h2 class="fw-bold">Mes Produits</h2>
    <ul class="fs-5">
        <li><strong>Savons Hydratants :</strong> Pour une peau douce et nourrie.</li>
        <li><strong>Savons Exfoliants :</strong> Pour une peau propre et éclatante.</li>
    </ul>
</section>
<!-- Témoignages -->
<div class="testimonial">
    <p class="testimonial-text">
        "J'adore les savons de Lilly ! Leur parfum est incroyable et ils laissent ma peau douce."
    </p>
    <p class="testimonial-author">- Marie</p>
</div>

<!-- Contact -->
<section> 
    <h2 class="fw-bold">Contactez-moi</h2>
    <p class="contact-message">
        Envoyez-moi un message <a class="contact-link" asp-area="" asp-controller="Contact" asp-action="Index">ici</a> pour toute question ou commande spéciale.
    </p>
</section>