@model SavonDeLilly.Models.PaymentInfo
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation de paiement</h2>

<p>@ViewBag.Message</p>

<a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>

